<!DOCTYPE html>
<html>
  <head>
    <title>Pikasearch</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="dark">
    <div class="container">
      <h1 class="title">Pikasearch</h1>
      <form action="/search" method="get">
        <input
          type="text"
          id="query"
          placeholder="Search Pokémon..."
          required
        />
        <input type="hidden" name="q" id="encoded" />
        <button type="submit">Search</button>
      </form>
      <button onclick="window.location.href='/random'" class="random-btn">
        🎲 Random Pokémon
      </button>
    </div>

    <script>
      console.log("Hey get out of here!");

      console.log("Your gonna break the site!");

      console.log("...or maybe not.");

      console.log("What am I even talking about?");

      console.log("Everything is in the backend, silly!");

      console.log("Have a nice day!");

      console.log(
        "\n\n\n\n\n\n(Seriously, stop looking at this. If you wanna sneak around, go to https://github.com/Epicinver/Pikasearch)"
      );

      document.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        const text = document.getElementById("query").value;
        const encoded = btoa(text);
        document.getElementById("encoded").value = encoded;
        e.target.submit();
      });
    </script>
  </body>
</html>
